
.banner-twitter {
  width: 14em;
  line-height: 1;
  padding: 1em 0;
  box-sizing: border-box;

  text-align: center;
  text-decoration: none;
  background-color: #3C1D3D;
  color: white;
  border: .25em solid black;

  font-size: 1.2em;
  font-family: "Open Sans Condensed", sans-serif;

  position: absolute;
  top: 0;
  right: 0;
  transform-origin: 0 0;
  transform: translate(calc(0.707 * (3.5em - 100%) + 100%), calc(-0.707 * 3.5em)) rotate(45deg);
}
.foto-home {
    height: 200px;
    border-radius: 50%;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    font-size: 1.5em;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    display: inline-block;
    transform: rotate(-5deg) skew(-10deg);
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    margin: 2em auto;
}
.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: .5em;
    text-shadow: 2px 2px #000;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    background-image: linear-gradient(to bottom right, transparent 14px, rgba(0, 0, 0, 0.1) 14px, rgba(0, 0, 0, 0.1) 15px, transparent 15px);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    display: flex;
}
.trabalhos li {
    flex: 1;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
    background-image: linear-gradient(to bottom left, transparent 14px, rgba(255, 255, 255, 0.1) 14px, rgba(255, 255, 255, 0.1) 15px, transparent 15px);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.blog li {
  width: 30%;
}
.blog small {
  position: relative;
  top: -2em;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
  font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
body {
  perspective: 6px;
  perspective-origin: 50% 160px;
  transform-style: preserve-3d;
}
.palavras-home {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.palavra-home {
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: rgba(255, 127, 127, 0.5);
}
.eficiencia {
  top: 50%;
  left: 60%;
  opacity: .9;
  transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.25);
}
.boas-praticas {
  top: 70%;
  left: 20%;
  opacity: .8;
  transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.25);
}
.codigo-limpo {
  top: 45%;
  left: 25%;
  opacity: .6;
  transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);
}
.css3 {
  top: 55%;
  left: 35%;
  opacity: .6;
  transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.25);
}
.html5 {
  top: 30%;
  left: 65%;
  opacity: .6;
  transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}
.javascript {
  top: 15%;
  left: 60%;
  opacity: .4;
  transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.25);
}
.acessibilidade {
  top: 30%;
  left: 35%;
  opacity: .8;
  transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.25);
}
.responsivo {
  top: 40%;
  left: 40%;
  opacity: .8;
  transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
}
.otimizacoes {
  top: 70%;
  left: 65%;
  opacity: .6;
  transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(0.25);
}
.agilidade {
  top: 75%;
  left: 35%;
  opacity: .4;
  transform: translate(-50%, -50%) rotate(5deg) translateZ(1px) scale(0.25);
}
.design {
  top: 40%;
  left: 60%;
  opacity: .6;
  transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}
.titulo-principal {
    transform-style: preserve-3d;
    position: relative;
}

.blog .inicio-post {
  display: none;
}

.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
  display: block;
}

.blog a:hover,
.blog a:focus {
  background-color: #F2FFFC;
  color: #F26;
}

.botao-index:hover,
.botao-index:focus {
  box-shadow: 0 0 1em #fa9;
  color: white;
  background-color: #c54974;
}

.botao-index {
  text-decoration: none;
  transition: .5s;
}
.palavra-home {
  animation: aparece 2s;
}

@keyframes aparece {
  0% {
    opacity: 0;
    transform: scale(0.001);
  }
}

.banner-twitter {
  animation: aparece 0.5s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.saudacao em {
  position: relative;
  animation: flutuar 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes flutuar {
  from {
    top: -5px;
  }
  to {
    top: 5px;
  }
}

.saudacao:hover em {
  animation-play-state: paused;
}

body {
  display: block;
}

.trabalhos li {
  border: .5em solid black;
}

.trabalhos li:first-child {
  order: 2;
  transform: scale(1.2);
  border: .5em solid black;
}

.trabalhos li:nth-child(2) {
  order: 1;
}

.trabalhos li:last-child {
  order: 3;
}
